*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #111111;
}

.header {
    width: 100%;
    height: 4rem;
    display: block;
    background-color: #101010;
}

.inner_header {
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    margin-left: -3rem;
    height: 100%;
    display: table;
    float: left;
    letter-spacing: 3px;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "MONTSERRAT";
    font-size: 32px;
}

.logo_container h1 span {
    font-weight: 200;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    margin-left: 100px;
}

.navigation a:hover {
    background-color: rgba(255, 255, 255, 0.541);
    transition: 0.5s;
    font-weight: bold;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: "MONTSERRAT";
    font-size: 16px;
}

i {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 5px;
    padding-right: 5px;
}

.main {
    background-color: #111111;
    display: flex;
    width: 100%;
    padding: 2rem 2rem 0 2rem;
    height: calc(100vh - 4rem);
}

.main-background {
    position: relative;
    left: 0%;
}

.main-text {
    color: white;
    display: block;
    width: 100%;
}

div h1 {
    font-family: 'MONTSERRAT', sans-serif;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.5rem;
}

div p {
    padding-top: 3rem;
    font-family: 'Roboto';
    font-weight: 100;
    text-align: center;
    margin: 1rem;
    line-height: 5rem;
    font-size: 1.5rem;
    margin: 0 2rem;
}

.slider {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slider h1 {
    display: flex;
    color: white;
    background-color: #111111;
    width: 100%;
    align-self: center;
    flex-basis: 100%;
    height: 6rem;
    margin-bottom: 0;
}

.carousel {
    position: relative;
    height: 40rem;
    overflow: hidden;
    width: 100%;
}

.slider-elements {
    display: flex;
    width: 400%;
    height: 100%;
    transition: all 0.3s;
}

.slider-elements div {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.controls .arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
}

.arrow.left {
    left: 10px;
    color: white;
}

.arrow.right {
    right: 10px;
    color: white;
}

.controls ul {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    transform: translate(-50%);
}

.controls ul li {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #333;
    margin: 1rem;
    border-radius: 1rem;
    background: black;
    cursor: pointer;
}

.controls ul li:hover {
    background: white;
    transition: 0.5s;
}

.controls ul li.selected {
    background: white;
}

.arrow .material-icons {
    font-size: 4rem;
}

.arrow .material-icons:hover {
    color: gray;
    transition: 0.5s;
}