.login-form {
    width: 100vw;
    background-color: #111111;
    display: block;
    height: 90.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 40rem;
    background-color: #111111;
    color: white;
    text-align: center;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid gray;
    padding: 14px 10px;
    width: 15rem;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1rem;
    font-family: 'MONTSERRAT', sans-serif;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus,
.box input[type="email"]:focus {
    border: 2px solid white;
    width: 20rem;
}

.box input[type="submit"] {
    border: none;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid gray;
    padding: 14px 10px;
    width: 10rem;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover {
    border-color: white;
    background-color: rgba(0, 100, 0, 0.685);
}