.register-form {
    width: 100vw;
    height: 90.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
}

@media only screen and (max-width: 800px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
}

.box.invalid input[type="text"]:focus,
.box.invalid input[type="email"]:focus,
.box.invalid input[type="password"]:focus {
    border: 0.3rem solid rgb(139, 22, 22);
}

.errorInfo {
    color: rgb(139, 22, 22);
}

.hide {
    display: none;
}