  .userNotes {
      display: flex;
      box-sizing: border-box;
      background-color: #111111;
      width: 100%;
  }
  
  .addNote {
      height: 49rem;
      background-color: #111111;
      width: 50vw;
      border: 0.5rem solid white;
      margin: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  }
  
  .showNotes {
      height: 49rem;
      background-color: #111111;
      width: 50vw;
      border: 0.5rem solid white;
      margin: 2rem;
  }
  
  .noteField.Title {
      height: 2rem;
      margin-bottom: 0rem;
      margin-top: 1;
  }
  
  .noteField {
      margin-top: 2rem;
      width: 48rem;
      height: 36rem;
      resize: none;
      background-color: rgba(243, 240, 237, 0.281);
      color: white;
      font-family: 'MONTSERRAT', sans-serif;
  }
  
  .AddNoteButton {
      border: none;
      background: none;
      display: block;
      text-align: center;
      border: 2px solid gray;
      padding: 14px 10px;
      width: 10rem;
      outline: none;
      color: white;
      border-radius: 24px;
      transition: 0.25s;
      cursor: pointer;
      margin-bottom: 0.5rem;
  }
  
  .AddNoteButton:hover {
      border-color: white;
      background-color: rgba(0, 100, 0, 0.685);
  }
  
  .searchForm {
      width: 100%;
      display: flex;
      justify-content: right;
      margin-top: 0.5rem;
      height: 2rem;
  }
  
  .searchBar {
      background-color: rgba(243, 240, 237, 0.281);
      color: white;
      width: 20rem;
      border: 0.2rem solid white;
  }
  
  .buttonSearch {
      margin-right: 1rem;
      cursor: pointer;
      border: 0.2rem solid white;
      border-left: none;
  }
  
  .searchIcon {
      color: white;
      background-color: black;
  }
  
  .userNotes {
      color: white;
  }
  
  td {
      text-align: center;
  }
  
  tbody {
      width: 100%;
      margin-top: 1rem;
  }
  
  th,
  td {
      width: 33%;
  }
  
  thead,
  tr {
      width: 100%;
  }
  
  .div_table {
      display: flex;
      justify-content: center;
  }
  
  thead {
      text-align: center;
  }